pandas
numpy
google-cloud-secret-manager
google-cloud-bigquery
google-cloud-storage
google-cloud-logging
pandas_gbq
requests
zeep
bigframes
python-dotenv
aiohttp
httpx
sibr-module[all]>=0.2.11
sibr-module[bigquery]>=0.2.11
sibr-module[secrets]>=0.2.11
sibr-api>=0.3.2
kartverkets-api>=0.1.9
