pandas
numpy
google-cloud-secret-manager
google-cloud-bigquery
google-cloud-storage
google-cloud-logging
pandas_gbq
requests
zeep
bigframes
sibr-module[all]>=0.2.10
sibr-api>=0.3.2
kartverkets-api>=0.1.7
python-dotenv
aiohttp
httpx
