aiohttp
arrow
catboost
db-dtypes
gcsfs
geojson
geopy
google-api-core
google-auth
google-auth-oauthlib
google-cloud
google-cloud-aiplatform
google-cloud-appengine-logging
google-cloud-audit-log
google-cloud-bigquery
google-cloud-bigquery-connection
google-cloud-bigquery-storage
google-cloud-core
google-cloud-functions
google-cloud-iam
google-cloud-logging
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-genai
lightgbm
numpy
pandas
pandas-gbq
pyjstat
pytest
python-dateutil
requests
requests-oauthlib
requests-toolbelt
scikit-learn
scipy
shapely
tomli
torch
torchmetrics
tqdm
xgboost
python-dotenv
sibr-module[all]>=0.2.10